@import '../../styles/variables';

.map-page-wrapper {
  height: calc(100vh - #{$header-height});
  padding: 15px 0;

  .market-info-wrapper, .map-wrapper {
    width: 100%;
    height: 100%;
  }

  .market-info-wrapper {
    margin-bottom: 5px;
    max-height: 80px;
    @media(min-width: 576px) {
      max-width: 200px;
      max-height: none;
      padding-right: 0;
      margin-bottom: 0;
    }
  }

  .map-wrapper {
    &.selected-marker {
      height: calc(100% - 85px);
    }
    @media(min-width: 576px) {
      min-width: 400px;
      &.selected-marker {
        height: 100%;
      }
    }
  }
}
