<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Add New Location</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12 field-wrapper">
      <app-form-field [form]="form" fieldName="name" label="Name:"></app-form-field>
    </div>
    <div class="col-6 field-wrapper">
      <app-form-field [form]="form" fieldName="lat" label="Lat:"></app-form-field>
    </div>
    <div class="col-6 field-wrapper">
      <app-form-field [form]="form" fieldName="lng" label="Lng:"></app-form-field>
    </div>
    <div class="col-12 map-wrapper">
      <app-map
        [markers]="markers"
        [showInfoWindow]="false"
        (onMapClick)="onMapClick($event)"></app-map>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" [disabled]="form.invalid" (click)="save()">Save</button>
</div>
